<div class="top-section">
    {% if left_logo %}
    <div class="logo-left">
        <img src="{{ module_path[0] }}/images/{{ left_logo }}" alt="logo" />
    </div>
    {% endif %}
    {% if right_logo %}
    <div class="logo-right">
        <img src="{{ module_path[0] }}/images/{{ right_logo }}" alt="signature-logo" />
    </div>
    {% endif %}
</div>
